<h3>Join Module: <b><%= @module_name %></b></h3>

<.form for={@conn} action={~p"/module/cs#{@module_id}/register"}>
  <div>
    <.button
      type="submit"
      phx-disable-with="Joining Module..."
      class="font-medium hover:bg-green-600 hover:pt-1.5 hover:pl-0.5 w-3/5 h-9 mx-auto row-start-2 col-span-2 my-1 rounded-sm text-zinc-100 bg-green-700 transition-all duration-300"
    >
      Join Module?
    </.button>
  </div>
</.form>
