
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../deps/live_monaco_editor/priv/static/live_monaco_editor.min.css";


.custom-file-input {
  display: none;
}

/* Style for the custom button */
.custom-file-button {
  display: inline-block;
  color: white;
  border: none;
  cursor: pointer;
}

/* Style for the file input container */
.file-input-container {
  display: inline-block;
  position: relative;
}

.b {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.assignment-test-sidebar {
  width: 180px;
  height: 75vh; 
}